<%= include('includes/top.tmpl') %>
 
<h1>BBC News Online: Mobile Sites &amp; Apps/Handheld Devices/News</h1>
 
<p>Visitors to <a href="http://www.bbc.co.uk/news/">BBC News Online</a> get the stories they want no matter where they are and what device they are using. From breaking news to in-depth analysis, features, interactive graphics and videos, all of our content is made with mobile in mind.</p>
 
<h2>Fast and responsive</h2>
 
<img src="img/mobile/1.jpg" />
 
<p>The past year has continued to see an ever-greater share of our audience access the site through mobiles and tablets, which now account for more than half of all visits.</p>
 
<p>Nowhere is the importance of handheld devices clearer than around big breaking stories, particularly when the news comes out of office hours.</p>
 
<p>When results were announced in the <a href="http://www.bbc.co.uk/news/events/scotland-decides">Scottish independence referendum</a> traffic peaked early in the morning. Between 6am and 7am 75% of the audience was on mobile and tablet.</p>
 
<p>All of our content is optimised for mobiles, so users were able to access the full results service - including our live page, graphics and video reports. In all, 9.9m smartphone users and 3.6m tablet users visited the site - with a total of 23.3m across all devices.</p>
 
<p>The busiest day in the website's history came on 7 April, when news of the <a href="http://www.bbc.co.uk/news/uk-26931337">death of Peaches Geldof</a> broke during the evening rush hour.  Of the 23.5m visitors to the site that day, a record 10.4m were on mobile with a further 3.3m on tablet.</p>
 
<p>Other big stories included the <a href="http://www.bbc.co.uk/news/world-us-canada-28749702">death of Robin Williams</a>, with a combined audience of 11.5m on mobile and tablet.</p>
 
<p>Away from breaking stories, we ensure that visitors on handheld devices get the best possible experience, no matter what the content.</p>
 
<p>Mobile-friendly formats included the <a href="http://www.bbc.co.uk/news/health-27161671">Body Clock</a> project, which used animations, video and a quiz to allow users to discover whether they are a lark, or an owl - and what that means.</p>
 
<p>*BELLA ADDING A LINE ABOUT DESIGN HERE*</p>
 
<p>Video formats designed with mobile in mind include our <a href="http://www.bbc.co.uk/news/science-environment-29996475">60 second</a> explainers and the 15-second <a href="http://instagram.com/bbcnews/">BBC Shorts</a> appearing on Instagram.</p>
 
<p>A fully responsive site is offered as default on mobile and on tablets since mid-December.
The coming year will see further improvements, with a new app due to launch in January offering greater personalisation based on linked data.</p>
 
<h2>A trusted source</h2>
 
<img src="img/mobile/2.jpg" />
 
<p>Underpinning the success of BBC News Online on mobile is its access to journalists around the world and the unparalleled coverage of developing stories that brings.</p>

<p>Speed is key on fast developing stories, with our breaking news tool sending out mobile, web, push, Twitter, SMS and email alerts at the push of a button.</p>

<p>Quick and frequent updates follow, with news stories complemented by video, multimedia live pages, graphics, first-hand accounts and analysis, plus tweets from accounts including @BBCBreaking, which has 12.4m followers.</p>

<p>As stories develop we continue to tell them in a compelling and accessible way, with authoritative reporting despite sometimes difficult conditions.</p>

<p>Our <a href="http://www.bbc.co.uk/news/world-africa-28754546">in-depth coverage of the Ebola outbreak</a> has been led by frequent on-the-ground reports from affected areas, including those from a <a href="http://www.bbc.co.uk/news/world-africa-29888067">village on the frontline</a> in Sierra Leone and a <a href="http://www.bbc.co.uk/news/health-28544605">treatment centre</a> in Guinea.</p>

<p>These were enhanced by a determination to set the disease in context, including pieces on <a href="http://www.bbc.co.uk/news/world-africa-30199004">how the outbreak began</a> and <a href="http://www.bbc.co.uk/news/health-29518703">how to stay safe</a>.</p>
 
<p>On WhatsApp we offered a “lifeline” Ebola information service which is particularly popular in affected areas.</p>
 
<p>The BBC's determination to tell the stories that matter was further demonstrated by bespoke series including <a href="http://www.bbc.co.uk/news/world-middle-east-17258397">Syria's War</a> - a focus on the country's ongoing crisis. Content included the story of <a href="http://www.bbc.co.uk/news/world-middle-east-29653526">Syria's disappeared</a> and reports from inside <a href="http://www.bbc.co.uk/news/world-middle-east-30049219">Aleppo</a> and <a href="http://www.bbc.co.uk/news/world-middle-east-30011154">Damascus</a>.</p>
 
<p>This year we have also offered in-depth looks at the lives of women worldwide through the series <a href="http://www.bbc.co.uk/news/world-24371433">100 Women</a>, while the <a href="http://www.bbc.co.uk/news/world-25683135">Freedom</a> series examined what the word means to people.</p>
 
<p>Two indexes - <a href="http://www.bbc.co.uk/news/the_reporters">The Reporters</a> and <a href="http://www.bbc.co.uk/news/explainers">Explainers</a> - were launched to offer a prominent home to the best of our analysis and guides. Among these is the 60-second series of video explainers on topics ranging from the <a href="http://www.bbc.co.uk/news/science-environment-29996475">Rosetta mission</a> to <a href="http://www.bbc.co.uk/news/world-europe-29727311">Sweden's submarine hunt</a>.</p>

<p>Another popular development has been <a href="http://www.bbc.co.uk/news/blogs/trending/">BBC Trending</a>, about what is being shared on the internet and why. Reports - online, radio and <a href="https://www.youtube.com/bbctrending">YouTube</a> - included the revelation that <a href="http://www.bbc.co.uk/news/blogs-trending-30057401">Syrian 'hero boy'</a> footage had been faked by a Norwegian film crew.</p>
 
<h2>Social media and the BBC</h2>

<img src="img/mobile/3.jpg" />

<p>BBC News has had a very successful year on social media, with a dramatic increase in the number of fans for the <a href="https://www.facebook.com/bbcnews">BBC News Facebook page</a>, up 9.5m to more than 12.8m.</p>
 
<p>The number of Twitter followers for <a href="https://twitter.com/BBCBreaking">@BBCBreaking</a> rose four million to 12.4m.</p>
 
<p>The <a href="http://instagram.com/bbcnews/">BBC News Instagram Channel</a> attracted 100,000 followers with its daily 15-second news reports, while the BBC has 400,000 followers on Line and 75,000 on <a href="https://vine.co/bbcworld">Vine</a>.</p>
 
<p>At the heart of this success was a determination to bring engaging and original content to our followers no matter platform they use.</p>
 
<p>Examples include a daily infographic #BBCGoFigure, which has proved popular on Twitter, Facebook, Instagram and <a href="http://uk.pinterest.com/bbcnews/bbc-go-figure/">Pinterest</a>.</p>
 
<p>In the US, the <a href="http://www.bbc.co.uk/news/world-us-canada-28843888">Pop Up</a> series of video reports saw the BBC's first mobile bureau set up - its team travelling to a new town each month to engage with community residents and tell their stories.</p>

<%= include('includes/bottom.tmpl') %>