<%= include('includes/top.tmpl') %>

<h1>BBC News Scottish referendum #indyref</h1>

<p>The most important story in the UK of 2014 was the historic Scottish Referendum vote to decide whether Scotland would become an independent country.</p>

<p>The polls had shown the Yes campaign ahead in the days before the poll and the whole of the country was on the edge of its collective seat to see if the vote would herald the break-up of the United Kingdom itself.</p>

<p>The BBC wanted to bring the audience every twist and turn of the night, minute by minute, as the votes were counted. So using the #indyref on twitter we produced a live stream of all the best BBC content as it happened.</p>

<p>We prioritised enriching the stream for the first time with a range specially designed “Scotland Decides” graphics of charts, quotes and results.</p>

<img src="img/social-media-events/1.png" />

<p>We also included the ground-breaking Augmented Reality sequences from our TV coverage, in this way maximising the potential of cross platform graphics and trailing.</p>

<p>And completed the coverage the next morning with the a series of heatmaps showing voter turnout and the strength of the yes / no vote</p>

<img src="img/social-media-events/2.png" />

<%= include('includes/bottom.tmpl') %>