<%= include('includes/top.tmpl') %>

<style>
.logo {
    width: 100%;
}
</style>

<h1>BBC News Online: General Website/News</h1>
 
<p>For everything from big breaking news stories, to expert analysis and in-depth features, <a href="http://www.bbc.co.uk/news/">BBC News Online</a> remained the destination of choice for millions worldwide in 2014.</p>

<h2>A fast and trusted source</h2>

<img src="https://lh4.googleusercontent.com/ksSbFfAwa0n4j1bzvEWk4m4cbBNS46LjNfK9vupA8XTiPwlfZ3nFvLwKsxrLb_OdS5y__ZKpPFKF7zrlUEqeIwb4aV77_JwM3XpR5q3wYtX8PU6pQIumV2vMuj1aqbs7ng" />

<p>Harnessing the talent of BBC journalists around the world, BBC News Online offers unparalleled coverage of developing stories.</p>
 
<p>Speed is key when big news breaks, with alerts sent out via our breaking news tool.
Quick and frequent updates follow, with news stories complemented by video, multimedia live pages, graphics, first-hand accounts and analysis, plus tweets from accounts including @BBCBreaking, which has 12.4m followers.</p>
 
<p>This approach - with impartiality and objectivity at its heart - was demonstrated as the results in the <a href="http://www.bbc.co.uk/news/events/scotland-decides">Scottish independence referendum</a> were announced and 23.3m unique browsers visited the site. Of these 11.8m were outside the UK - the largest such audience.</p>
 
<p>Other big stories included the disappearance of Malaysian Airlines <a href="http://www.bbc.co.uk/news/world-asia-26626715">flight MH370</a>, the crash of <a href="http://www.bbc.co.uk/news/world-28366904">flight MH17</a> and the <a href="http://www.bbc.co.uk/news/world-us-canada-28749702">death of Robin Williams</a>.</p>
 
<p>The busiest day in the website's history came in April when the <a href="http://www.bbc.co.uk/news/uk-26931337">death of Peaches Geldof</a> saw 23.5m visitors.</p>
 
<p>Of these, 10.4m were on mobile with a further 3.3m on tablet - underlining the importance of handheld devices, which now account for more than half of all visits.</p>
 
<p>A fully responsive site is offered as default on mobile and made available on tablet in December.</p>
 
<p>All of our content is optimised for handheld devices and a new app launching in January is set to offer greater personalisation. A new responsive site will also be available on desktop.</p>

<h2>In-depth coverage</h2>
 
<img src="https://lh3.googleusercontent.com/zGA8ycSfjL_bVRUUHaetqlTHMtPPEHO3Ya-ucM6-_iaPrielKkV8X2xxtUgC5FYWG4lRwWH0WmeOCApvOsfmAgY6c8W9WSBsx35Uvmf7ZSsZg5ZZL8-r_8XgMSaUiJZ9ZQ" />

<p>As stories develop we continue to tell them in a compelling and accessible way, with authoritative reporting despite sometimes difficult conditions.</p>
 
<p>Our <a href="http://www.bbc.co.uk/news/world-africa-28754546">in-depth coverage of the Ebola outbreak</a> has been led by frequent on-the-ground reports from affected areas, including those from a <a href="http://www.bbc.co.uk/news/world-africa-29888067">village on the frontline</a> in Sierra Leone and a <a href="http://www.bbc.co.uk/news/health-28544605">treatment centre</a> in Guinea.</p>
 
<p>These were enhanced by a determination to set the disease in context, including pieces on <a href="http://www.bbc.co.uk/news/world-africa-30199004">how the outbreak began</a> and <a href="http://www.bbc.co.uk/news/health-29518703">how to stay safe</a>.</p>
 
<p>On WhatsApp we offered a “lifeline” Ebola information service which is particularly popular in affected areas.</p>
 
<p>The BBC's determination to tell the stories that matter was further demonstrated by bespoke series including <a href="http://www.bbc.co.uk/news/world-middle-east-17258397">Syria's War</a> - a focus on the country's ongoing crisis. Content included the story of <a href="http://www.bbc.co.uk/news/world-middle-east-29653526">Syria's disappeared</a> and reports from inside <a href="http://www.bbc.co.uk/news/world-middle-east-30049219">Aleppo</a> and <a href="http://www.bbc.co.uk/news/world-middle-east-30011154">Damascus</a>.</p>
 
<p>This year we have also offered in-depth looks at the lives of women worldwide through the series <a href="http://www.bbc.co.uk/news/world-24371433">100 Women</a>, while the <a href="http://www.bbc.co.uk/news/world-25683135">Freedom</a> series examined what the word means to people.</p>
 
<p>Two indexes - <a href="http://www.bbc.co.uk/news/the_reporters">The Reporters</a> and <a href="http://www.bbc.co.uk/news/explainers">Explainers</a> - were launched to offer a prominent home to the best of our analysis and guides. Among these is the 60-second series of video explainers on topics ranging from the <a href="http://www.bbc.co.uk/news/science-environment-29996475">Rosetta mission</a> to <a href="http://www.bbc.co.uk/news/world-europe-29727311">Sweden's submarine hunt</a>.</p>

<h2>Telling stories</h2>
 
<p>As new options for storytelling emerge, BBC News Online is among the leaders in offering readers enhanced content.</p>
 
<p>The <a href="http://www.bbc.co.uk/news/magazine/">Magazine</a> section is the home to the best feature writing on the site and the past year has seen it embrace new formats for long-form journalism.</p>
 
<p>The beautifully-told stories of <a href="http://www.bbc.co.uk/news/magazine-30278503">The Wreck Detectives</a> and <a href="http://www.bbc.co.uk/news/special/2014/newsspec_7617/index.html">The Reykjavik Confessions</a> - produced in conjunction with our BBC radio colleagues - are examples of media-rich immersive features using text, images and video to striking effect.</p>
 
<img src="https://lh6.googleusercontent.com/wMqqwrEfCgfyM9wH_WUDGKrEOK5SFzAjo9NLUEtcD9Lry2M8oYO5uZPitYx2GFDVJ6Tk4SGVBZJAPUKyED4krE4MDARxpGz4RfrRQ5bl8UKrtwppXCgb84id1h0gQ3upSA" />

<p>The Magazine has also pioneered the use of interactive video.</p>
 
<p>Films profiling buildings <a href="http://www.bbc.co.uk/news/magazine-24030316">shortlisted for the Stirling Prize</a> - a major architectural award - allowed viewers to jump off at key points for extra detail on the designs' outstanding features, critics' reviews and interviews.</p>
 
<p>Our Visual Journalism team has also won over audiences with new approaches - with pieces including a multimedia guide to the <a href="http://www.bbc.co.uk/news/science-environment-22567526">secret lives of cats</a> and an interactive game offering the chance to <a href="http://www.bbc.co.uk/news/science-environment-29746430">take charge of the Philae Lander</a>.</p>
 
<p>The <a href="http://www.bbc.co.uk/news/health-27161671">Body Clock</a> project used animations, video and a quiz to allow visitors to discover whether they are a lark, or an owl - and what that means.</p>
 
<p>We have also produced a series of animations, portraying stories including the <a href="http://www.bbc.co.uk/news/world-africa-29762252">escape of three “Chibok girls”</a> from Boko Haram in a compelling and visually arresting way.</p>
 
<p>Another popular development has been the <a href="http://www.bbc.co.uk/news/blogs/trending/">Trending</a> blog about what is being shared on the internet and why. Reports - online, radio and <a href="https://www.youtube.com/bbctrending">YouTube</a> - included the revelation that <a href="http://www.bbc.co.uk/news/blogs-trending-30057401">Syrian ‘hero boy'</a> footage had been faked by a Norwegian film crew.</p>

<h2>Social media and the BBC</h2>

<img src="https://lh4.googleusercontent.com/1myitBcsuGDaEgdUX7GJzhYy9Tb_T19UOFbGZXrplOZAQhc-0X8c1XcZR8YNVMkw9-EfxgcZgSlesqDnW7EXB6heXub3FwIbTSnSq8cczZ0qAmLwPMP41-bZ0ATYpjh6bw" />

<p>BBC News has had a very successful year on social media, with a dramatic increase in the number of fans for the <a href="https://www.facebook.com/bbcnews">BBC News Facebook page</a>, up 9.5m to more than 12.8m.</p>
 
<p>The number of Twitter followers for <a href="https://twitter.com/BBCBreaking">@BBCBreaking</a> rose four million to 12.4m.</p>
 
<p>The <a href="http://instagram.com/bbcnews/">BBC News Instagram Channel</a> attracted 100,000 followers with its daily 15-second news reports, while the BBC has 400,000 followers on Line and 75,000 on <a href="https://vine.co/bbcworld">Vine</a>.</p>
 
<p>At the heart of this success was a determination to bring engaging and original content to our followers no matter platform they use.</p>
 
<p>Examples include a daily infographic #BBCGoFigure, which has proved popular on Twitter, Facebook, Instagram and <a href="http://uk.pinterest.com/bbcnews/bbc-go-figure/">Pinterest</a>.</p>
 
<p>In the US, the <a href="http://www.bbc.co.uk/news/world-us-canada-28843888">Pop Up</a> series of video reports saw the BBC's first mobile bureau set up - its team travelling to a new town each month to engage with community residents and tell their stories.</p>

<%= include('includes/bottom.tmpl') %>