<%= include('includes/top.tmpl') %>

<h1>Social Media and BBC News</h1>

<img src="img/social-media/1.jpg" /> <img src="img/social-media/2.jpg" />

<p>BBC News has had a very successful year across a range of social media services and platforms. We generate high quality, fast, accurate and original material, appealing to our growing number of fans and followers. Highlights from the last year include:</p>

<ul>
    <li>
        More than 9.5 million new fans for the <a href="https://www.facebook.com/bbcnews">BBC News Facebook page</a> - reaching more than 12.8 million in total
    </li>
    <li>
        More than 4.5 million new followers to <a href="https://twitter.com/BBCBreaking">@BBCBreaking</a> - reaching 12.5 million in total
    </li>
    <li>
        100,000 followers for the <a href="http://instagram.com/bbcnews/">BBC News Instagram Channel</a> and approaching 400,000 followers on <a href="http://www.bbc.co.uk/mediacentre/worldnews/2014/bbc-chat-apps">Line</a>
    </li>
    <li>
        Original journalism on <a href="http://www.bbc.co.uk/news/magazine-24657783">BBC Trending</a>
    </li>
    <li>
        The successful launch of new services on <a href="http://www.bbc.co.uk/news/world-africa-29573964">WhatsApp</a> and <a href="http://www.bbc.co.uk/news/world-us-canada-28843888">BBC Pop Up</a>
    </li>
    <li>
        Popular <a href="http://uk.pinterest.com/bbcnews/bbc-go-figure/">#BBCGoFigure infographics</a> and new Vine accounts for <a href="https://vine.co/bbcworld">@BBCWorld</a> and <a href="https://vine.co/bbcnews">@BBCNews</a>
    </li>
</ul>

<h2>BBC News on Twitter</h2>

<a href="https://twitter.com/markfrankel29/timelines/423492879235833856">Most retweeted tweets for 2014</a>

<a href="https://twitter.com/markfrankel29/timelines/423492489513672704">2014 as told on @BBCBreaking</a>

<img src="img/social-media/3.jpg" />

<h2>#BBCGoFigure</h2>

<p>The BBC News visual journalism unit produces a daily infographic for promotion on our core Twitter, Facebook and Instagram accounts. These have proved very popular and the images have been widely shared across social media, boosting referrals to BBC News online.  Here's a small selection of some of our most successful posts.  (You can see more on our <a href="http://uk.pinterest.com/bbcnews/bbc-go-figure/">BBC News Pinterest Channel</a>):</p>

<img src="img/social-media/4.jpg" /> <img src="img/social-media/5.jpg" /> <img src="img/social-media/6.jpg" /> <img src="img/social-media/7.jpg" />

<ol>
    <li>
        <a href="https://www.facebook.com/bbcnews/photos/a.10150618575207217.382392.228735667216/10152125608932217/">Suarez bite</a>
    </li>
    <li>
        <a href="https://twitter.com/BBCWorld/status/539774301491453952">Hobbit</a>
    </li>
    <li>
        <a href="http://instagram.com/p/vV08qmOj66/?modal=true">Comet landing</a>
    </li>
    <li>
        <a href="http://instagram.com/p/ugK6ZuOj2D/?modal=true">Dinosaur</a>
    </li>
</ol>

<h2>BBC News on Facebook</h2>

<p>Video posts have proved most popular on our BBC News and BBC World News Facebook pages.  Here are a selection of those with the highest reach, video views and engagement:</p>

<ol>
    <li>
        <a href="https://www.facebook.com/bbcnews/posts/10152368643607217">Base jumpers</a>
    </li>
    <li>
        <a href="https://www.facebook.com/bbcnews/posts/10152045698542217">Boy saved from dog by cat</a>
    </li>
    <li>
        <a href="https://www.facebook.com/bbcnews/posts/10152405860882217">Japan's new high-speed Maglev train</a>
    </li>
    <li>
        <a href="https://www.facebook.com/bbcnews/posts/10151979270622217">The singing priest</a>
    </li>
</ol>

<p>We've also held a number of successful Facebook Q&amp;As:</p>

<ol>
    <li>
        International editor <a href="https://www.facebook.com/bbcnews/posts/10152400135782217">Lyse Doucet</a> on our recent #BBCSyriaWar coverage
    </li>
    <li>
        Political correspondent <a href="https://www.facebook.com/bbcnews/posts/10152069156092217">Chris Mason</a> on the European and local elections
    </li>
    <li>
        Scotland correspondent <a href="https://www.facebook.com/bbcnews/posts/10152275464537217">Andrew Kerr</a> on the Scottish referendum
    </li>
    <li>
        Business editor <a href="https://www.facebook.com/bbcnews/posts/10151945094927217">Robert Peston</a> on the 2014 UK Budget
    </li>
</ol>

<h2>BBC Shorts</h2>

<p>BBC News produces daily 15 second videos on top news stories, primarily for our followers on Instagram.  The videos have helped the account reach 100,000 followers.  Here's a selection of some of this year's highlights:</p>

<ol>
    <li>
        <a href="http://instagram.com/p/t0IlZYuj9n/?modal=true">Turkish police fire gas canister</a> at BBC team on Syria border
    </li>
    <li>
        Truly terrifying <a href="http://instagram.com/p/u0n4DEuj8b/?modal=true">haunted house</a>
    </li>
    <li>
        <a href="http://instagram.com/p/tIEzDbOj-J/?modal=true">Alibaba flotation</a>
    </li>
    <li>
        <a href="http://instagram.com/p/rEg_EGuj4q/?modal=true">Gaza conflict in pictures</a>
    </li>
    <li>
        <a href="http://instagram.com/p/tZ-hrIuj5p/?modal=true">Does the iPhone 6S really bend?</a>
    </li>
</ol>

<h2>BBC Trending</h2>

<a href="http://www.bbc.co.uk/news/magazine-24657783">BBC Trending</a> examines those stories that are being most widely discussed across social media.  Here's a selection of some highlights from the last year:

<ol>
    <li>
        Exposing the <a href="http://www.bbc.co.uk/news/magazine-30059841">Syrian ‘Hero Boy' story</a>
    </li>
    <li>
        <a href="https://www.facebook.com/video.php?v=10153685577272588&set=vb.59145437587&type=3&theater">The pictures you won't see in mainland China</a>
    </li>
    <li>
        Trending weekly 60 seconds: Created entirely on an iPhone/iPad, BBC Trending brings you the social media trends of the week. Using audio from our weekly radio show, the Trending team visualises the story - <a href="http://www.bbc.co.uk/news/magazine-30250025">on site</a> and <a href="https://www.facebook.com/video.php?v=10153838570362588&set=vb.59145437587&type=3&theater">on Facebook</a>
    </li>
    <li>
        <a href="https://www.youtube.com/watch?v=9bBgQd90MeQ&app=desktop">Trending Now</a>: A project that looks at what's popular on the internet and why - making quick turnaround authored videos and publishing them to YouTube. The videos explain the story/trend within one minute. Videos shot and edited on an iPhone/iPad
    </li>
</ol>

<h2>BBC News and Chat Apps</h2>

<p>BBC News has led the way in innovating editorial products inside a range of chat apps, the instant messaging platforms that have seen huge user growth in the past 18 months.</p>

<p>It was the first news brand to offer a news service inside WhatsApp - for Indians wanting to follow the latest on the country's elections. It was also the first international news brand to launch on WeChat (BBC India) and on LINE (a global news account). BBC News is now the biggest global news brand on LINE - approaching 400,000 followers.</p>

<p>With a strategy to reach audiences in emerging markets, often with limited data connectivity and affordability, Africa has also been a particular focus for BBC News. A BBM (Blackberry) channel was launched by the BBC Hausa service, serving content to people in Nigeria in local language. During the South African elections, BBC News offered young (and often poor) South Africans an alternative source of news and a platform to share their experiences and thoughts on the MXIT app.</p>

<p>As part of its commitment to serve its audiences in affected regions, BBC News launched a <a href="http://www.bbc.co.uk/news/world-africa-29573964">'lifeline' Ebola information service</a> on WhatsApp. With over 20,000 subscribers - the majority in the affected countries - the WhatsApp account sent daily push alerts with public health information in text, images and audio clips in both English and French.</p>

<p>Since the BBC piloted and launched these services, many news organisations around the world have followed suit and are now experimenting on these platforms.</p>

<h2>BBC Pop Up</h2>

<p><a href="http://www.bbc.co.uk/news/world-us-canada-28843888">BBC Pop Up</a> is a new six month pilot of our first mobile bureau, which launched in Colorado in September 2014.</p>

<p>This traveling news office is relocating to a new US town each month to crowdsource story ideas from community residents. Upon arrival in each new location, the team hosts meet-ups where residents come out and suggest local issues they'd like the BBC to broadcast to its global audience. BBC Pop Up video journalists then make weekly video features and monthly documentaries for World television and online. The team also offers free weekly journalism workshops at universities and bases itself in shared work spaces.</p>

<p>The links below are stories made from community suggestions:</p>

<ul>
    <li>
        <a href="http://www.bbc.com/news/magazine-30204654">http://www.bbc.com/news/magazine-30204654</a>
    </li>
    <li>
        <a href="http://www.bbc.com/news/magazine-29890793">http://www.bbc.com/news/magazine-29890793</a>
    </li>
    <li>
        <a href="http://www.bbc.com/news/world-us-canada-29749660">http://www.bbc.com/news/world-us-canada-29749660</a>
    </li>
</ul>

<h2>Reddit AMAs</h2>

Finally, BBC News correspondents have also taken to Reddit this year to engage directly with redditors.  Here's a write-up on <a href="http://www.bbc.co.uk/news/27535192">one AMA</a> we were particularly proud about.

<%= include('includes/bottom.tmpl') %>