<%= include('includes/top.tmpl', {
    img_url: 'img/100_women_logo.gif'
}) %>

<style>
.logo {
    width: 100%;
}
</style>

<h1>BBC 100Women - category Website / General Website / Events</h1>

<p>The BBC's <a href="http://www.bbc.co.uk/news/world-24371433">100Women season</a> shone a light on women's rights and experiences around the world through a series of programmes and reports across three weeks, culminating in the the BBC's first <a href="http://www.bbc.co.uk/news/world-24984867">global women's event</a> on 25 October.  It was a unique and powerful event, for which online was a key driver enabling experiences to be shared and showcased.</p>

<p>The season launched with <a href="http://www.bbc.co.uk/news/world-24402849">a data visualisation</a> and ended with a widely shared page of <a href="http://www.bbc.co.uk/news/world-24650912">interactive maps</a> that allowed users to explore gender gap issues across the world.</p>
 
<p>The event featured <a href="http://www.bbc.co.uk/news/world-24579511">100 astonishing women</a>, from high-profile politicians to stay-at-home mums, all interacting with our global audience of 256 million people.</p>
 
<p>Our special site streamed eight hours of live TV and radio debates, supported by <a href="http://www.bbc.co.uk/news/world-24626901">live-blogging</a> and live-tweeting in many of the 27 languages in which the BBC broadcasts. Many of our language services hosted Google+ Hangouts, including <a href="http://www.youtube.com/watch?v=KVvt5oB46v0">Vietnamese</a>, <a href="http://www.youtube.com/watch?v=6suVBN4F2ro">Spanish</a>, <a href="http://www.youtube.com/watch?v=HpOMd3Y-Xes">Persian</a>, Arabic, <a href="http://www.bbc.co.uk/russian/multimedia/2013/10/131025_100women_google.shtml">Russian</a>, <a href="http://www.bbc.co.uk/kyrgyz/multimedia/2013/10/131025_hangout_women.shtml">Kyrgyz</a>, and Swahili.  This fed into the rich and varied content and sense of community generated by the event.</p>
 
<p>#100Women was used throughout October, peaking on 25th October when it trended on Twitter in London at the start and was picked up across the world - from Asia, to Africa and throughout Europe.</p>

<p>We are continuing to build on the success of <a href="http://www.bbc.co.uk/news/in-pictures-25050751">100Women</a>, following some of the eight pairs of mentors and mentees we matched at the event, including the story of the <a href="http://www.bbc.co.uk/news/world-25055799">Bangladesh textile factory owner and her Cambodian mentee</a>, who grew up on a landfill and wants to be a fashion designer.</p>

<p>Since meeting in October, the #100Women have created an online community and many have returned to the BBC airwaves, continuing to enrich the BBC's online and broadcast content.</p>

<%= include('includes/bottom.tmpl') %>