<%= include('includes/top.tmpl') %>

<h1>BBC News Africa Beats - category music</h1>
 
<p><a href="http://www.bbc.co.uk/news/entertainment-arts-17679490">BBC Africa Beats</a> is bringing some of the best and newest musical talent from Africa to a worldwide online audience.</p>
 
<p>These intimate acoustic sessions recorded in Africa and London are exclusive to the BBC.</p>
 
<p>The series reflects the diversity of a huge continent, from <a href="http://www.bbc.co.uk/news/world-africa-22440966">Malawi</a> to <a href="http://www.bbc.co.uk/news/entertainment-arts-22561708">Nigeria</a>, and it combines the fresh sound of up and coming African artists with personal insightful comments, shedding light on the cultures the musicians come from.</p>

<%= include('includes/bottom.tmpl') %>