<%= include('includes/top.tmpl') %>

<h1>BBC News Online - category Website/General Website/News</h1>

<p>From live and breaking news to in-depth on-the-ground reporting and analysis, <a href="http://www.bbc.co.uk/news/">BBC News Online</a> had it covered in 2013 - globally.</p>

<h2>Live and breaking</h2>
<li>Speed is everything when breaking news. The launch of our breaking news tool this year has allowed our journalists to break news across a number of platforms - mobile, web, push alerts, Twitter, SMS and email, with the push of one button.</li>
<li>Being first means being shared. Our <a href="https://twitter.com/BBCBreaking/statuses/408713958816624641">tweet confirming Nelson Mandela's death</a>, which linked back to our breaking story, was retweeted 78,000 times - more than any other news operation on this story.</li>
<li>From breaking we seamlessly move into live mode on big stories with multimedia live pages that bring together streamed video, bite-size news updates, crisp lines of correspondent analysis, and first-hand eyewitness accounts and pictures. Our <a href="http://www.bbc.co.uk/news/world-africa-24189669">live page on the Nairobi attacks</a> is one of many examples.</li>
<li>Breaking news was responsible for our biggest days in 2013 with 19.4 million unique browsers on the day Prince George was born, 17.3 million for Nelson Mandela's death and 17.1 million on the day Fusilier Lee Rigby in was killed in London. Our current daily average is 12.5 million unique browsers.</li>
<li>Yet our reputation for accuracy and keeping a level-head is central. For example, our coverage of the Watertown manhunt, in which we exercised great caution on sourcing, was rewarded with <a href="http://storify.com/chrishams/bbc-news-and-the-boston-manhunt">high praise from our audience</a>.</li>
<li>We have expanded our live stream output to become a daily feature on our Birmingham, Derby and London local news indexes - which has led to a 27% increase in visitors and an uplift in appreciation index scores. We are looking to extend this approach across our local news services</li>
 
<h2>Authoritative reporting</h2>
<li>Once the dust has settled on a breaking story, BBC News Online stays with it - using our organisation of network and language correspondents and producers to witness the human consequences and hunt out new angles. Ian Pannell's graphic video report of an incendiary bomb at a Syrian school <a href="http://www.bbc.co.uk/news/world-23892594">http://www.bbc.co.uk/news/world-23892594</a> stirred the debate about military intervention at the very moment of President Obama's standoff with Syria. It was followed by an <a href="http://www.bbc.co.uk/news/world-24288698">in-depth report on the plight of Syria's children</a>.</li>
<li>The theme was further examined in a <a href="http://www.bbc.co.uk/news/world-middle-east-23801200">detailed look at the Zaatari camp</a> for Syrian refugees, which combined first-hand video interviews with satellite mapping which shows how the camp has grown, graphics and a video tour of the camp's perimeter.</li>
<li>Our commitment to coverage of the war in Syria can also be seen in Paul Wood's high impact online reports on the boy <a href="http://www.bbc.co.uk/news/world-middle-east-23139784">killed by Islamists for an offhand remark about Allah</a> and an interview of the rebel commander who was <a href="http://www.bbc.co.uk/news/magazine-23190533">filmed "eating the heart" of an enemy soldier</a>.</li>
<li>Several weeks after Hurricane Haiyan, we returned to Tacloban to produce a scrollable tour of a devastated street.</li>
 
<h2>Visual and features journalism</h2>
<li>Through our Magazine and Visual Journalism teams, we are able to showcase the very best of our journalism in formats which promote engagement and demand to be shared.</li>
<li>Our <a href="http://www.bbc.co.uk/news/magazine-22000973">Great British Class Calculator</a>, itself based on BBC research, is an interactive tool. which promotes understanding of, and debate on, a subject of broad interest. With seven million page views, it was our most popular single story page of 2013 and our most shared, with 356,000 shares so far. It became a national talking point and among our follow ups were reader reactions and a view from the US.</li>
<li>Other calculators, such as "<a href="http://www.bbc.co.uk/news/business-23234033">Where can I afford to live?</a>" and one on the <a href="http://www.bbc.co.uk/news/business-21238363">price of petrol</a> use interactivity with the promise of a tailored result as a means of hooking people into wider stories in an engaging and sharable way.</li>
<li>We continue to develop the tools and techniques for turning the best of the BBC's broadcast reporting into  multimedia journalism, through features such as the <a href="http://www.bbc.co.uk/news/magazine-23758087">Amazonian tribeswoman transported overnight to a life as a suburban housewife in New York</a>, and <a href="http://www.bbc.co.uk/news/magazine-24379018">Malala's story</a>.</li>
 
<h2>Social and UGC</h2>
<li>The past 12 months have seen BBC News Online pass some notable landmarks in social news. Our @BBCBreaking account now has more than eight million followers.</li>
<li>Our small team of full-time social media journalists monitor not only BBC output, but identify and verify the sources and trends that will make a real-life impact on our global Twitter audience of over 15 million followers.</li>
<li>Our UGC team continues to lead the field in sourcing and verification of contributions, allowing us to develop user perspectives into high production reports. <a href="http://www.bbc.co.uk/news/in-pictures-24401829">This audio slideshow</a> on the turmoil in Egypt originated through our UGC hub, as did <a href="http://www.bbc.co.uk/news/world-europe-21476132">this montage of videos</a> of the Chelyabinsk meteor strike.</li>
 
<h2>Mobile</h2>
<li>These achievements are set against the backdrop of BBC News Online's move to a fully responsive site, as the proportion of our audience on mobiles nudges 50%. In 2013 we released fully responsive articles, AV pages, correspondent pages (blogs) and local indexes. More recently we've released a new responsive navigation design and are refining the overall user experience.  All our users on mobile use the responsive experience by default, and early in 2014 this will extend to all tablet users.</li>

<%= include('includes/bottom.tmpl') %>