<%= include('includes/top.tmpl', {
    img_url: 'img/bbc-global-news-logo.gif'
}) %>

<h1>BBC My City - category Online Film and Video / General Film Categories / Travel and Adventure</h1>

<p>See the world's greatest cities through the eyes of BBC World Service reporters who lived there:  <a href="http://www.bbc.com/travel/mycity">My City series</a> opens a door to what life is really like in their home city.</p> 
 
<p>From <a href="http://www.bbc.com/travel/video/my-city/20121203-ho-chi-minh-city">Ho Chi Minh's scooter club</a> to <a href="http://www.bbc.com/travel/video/my-city/20130625-my-city-accra">the boxing suburb of Bukom in Accra</a>, the films convey the vivid sights and sounds of each place.</p>
 
<p>As well as being published on <a href="http://www.bbc.com/travel">www.bbc.com/travel</a> and shown on <strong>BBC World TV</strong>, the series was translated and published on the BBC's many language websites, such as <a href="http://www.bbc.co.uk/russian/multimedia/2013/04/130331_v_mycity_rio.shtml">BBC Russian</a>.</p>

<%= include('includes/bottom.tmpl') %>