<%= include('includes/top.tmpl') %>

<h1>BBC News languages on mobile - category Mobile & Apps/All Devices/Best Practices</h1>

<p>As well as English, the BBC runs news websites in 27 languages. The past 12 months has seen a programme of launching these World Service sites in a responsive framework that optimises our pages on all phones.</p>

<p>In many countries, mobile is the primary means of accessing the internet. We now have 15 news language sites in responsive: Hausa, Indonesian, Afrique, Hindi, Mundo, Russian, Arabic, Turkish, Persian, Vietnamese, Brasil, Azeri, Gahuza, Swahili and Kyrgyz. The programme continues into 2014.</p>

<p>In many cases, the move to responsive has led to a sharp and immediate rise in unique visitors. In the 12 weeks after the switch on the Haua (Nigerian) site, unique visits rose by 57%. Hindi saw a rise of 37% across the same period, and Arabic 24%.</p>
 
<p>The move to responsive presents several challenges:</p>

<ul>
<li>As well as Latin scripts, we have Cyrillic and Arabic right-to-left scripts. Some services, such as Burmese are entirely unique so require a lot of UX and development.</li>
<li>The technological capabilities in our territories vary wildly. Many do not have smartphones. Our responsive sites work on all phones, all the way down to 240px wide, ensuring all our users get a stable, working news product no matter where they are.</li>
<li>We are working with thousands of journalists around the world. Ensuring we meet their needs and requirements is a complex and labour-intensive process. Every component we build has to work in every language and the needs of one site are very different to the next, so while one site may publish a single news story a day and lots of radio programming, another will publish lots of text and video.</li>
</ul>

<p>Video explaining the BBC's move to responsive sites: <a href="https://myshare.app.box.com/s/iq00yble3il3b3irzrcz">https://myshare.app.box.com/s/iq00yble3il3b3irzrcz</a>

<%= include('includes/bottom.tmpl') %>