<%= include('includes/top.tmpl') %>

<h1>BBC World News on Facebook - category Social/Social Content and Marketing/News &amp; Information</h1>

<p><a href="https://www.facebook.com/bbcworldnews">BBC World News on Facebook</a> serves as a window to the world for our BBC World News television operations. We deliver 24-hour breaking news, features, behind-the-scenes photos, commentary and expert analysis that not only drives engagement with our rapidly growing audience but informs the way we report the news on television and online. Our team of producers working in London, Singapore and Washington are encouraged to ask questions of our audience, challenge traditional forms of newsgathering and lead editorial innovation.</p>

<p>For your consideration</p>

<ul>
<li><a href="http://www.facebook.com/photo.php?fbid=10152959068017588&set=a.384188547587.191382.59145437587&type=1&relevant_count=1">"Some watched a mother or father being killed"</a>

<li><a href="http://www.facebook.com/media/set/?set=a.10152975252927588.1073741933.59145437587&type=1">MANDELA HUGS</a>

<li><a href="http://www.facebook.com/photo.php?fbid=10152759437132588&set=a.384188547587.191382.59145437587&type=1&theater">Do you have a question about the ongoing conflict in Syria?</a>

<li><a href="http://www.facebook.com/photo.php?v=10152922953032588&set=vb.59145437587&type=3&theater">WHY WOMEN IN COLOMBIA ARE POSTING MINISKIRT PICS</a>

<li><a href="http://www.facebook.com/media/set/?set=a.10152550901767588.1073741865.59145437587&type=3">Behind the scenes images of the Queen's visit of the BBC HQ</a>

<li><a href="https://www.facebook.com/media/set/?set=a.10152930629972588.1073741930.59145437587&type=3">Reporting Typhoon Haiyan</a>

<li><a href="http://www.facebook.com/media/set/?set=a.10152519355877588.1073741859.59145437587&type=3">BBC News on the ground in Oklahoma</a>
 
<li><a href="https://www.facebook.com/photo.php?fbid=10152290768722588&set=a.10151718235607588.500029.59145437587&type=1&theater">Malala surgery</a>
 
<li><a href="http://www.facebook.com/media/set/?set=a.10152463934067588.1073741848.59145437587&type=3">Boston Marathon manhunt in Watertown, Massachusetts</a>
 
<li><a href="https://www.facebook.com/photo.php?fbid=10152966222587588&set=pb.59145437587.-2207520000.1386878209.&type=3&theater">Syria breaker</a>
 
<li><a href="http://www.facebook.com/photo.php?fbid=10152208668877588&set=a.10151718235607588.500029.59145437587&type=1&theater">Sandy Hook - breaker and follow ups</a>
 
<li><a href="http://www.facebook.com/media/set/?set=a.10152990392782588.1073741935.59145437587&type=1">How Cirque du Soleil became a billion dollar business</a>

</ul>

<%= include('includes/bottom.tmpl') %>